---
layout: pejsam/default
---

{@io.quarkiverse.roq.frontmatter.runtime.model.NormalPage page}
{@io.quarkiverse.roq.frontmatter.runtime.model.Site site}

{#insert header}
{#include partials/pejsam/top-header menu=cdi:menu.items /}
{/}

<div class="hero-wrapper">
  <div class="hero">
    <h1>{page.data.heroTitle ?: 'Welcome'}</h1>
    {#if page.data.heroSubtitle}
    <p class="hero-subtitle">{page.data.heroSubtitle.raw()}</p>
    {/if}
    {#if page.data.heroTagline}
    <p class="hero-tagline">{page.data.heroTagline}</p>
    {/if}
  </div>
</div>

<main class="site-content">
  <div class="container">
    {#insert /}

    {#if site.collections.get('posts')}
    {#for post in site.collections.get('posts').paginated(page.paginator)}
    <article class="post">
      {#if post.image}
      <a class="post-thumbnail" style='background-image: url("{post.image}")' href="{post.url}"></a>
      {/if}
      <div class="post-content">
        <h2 class="post-title"><a href="{post.url}">{post.title}</a></h2>
        <p>{post.description ?: post.contentAbstract}</p>
        <span class="post-date">{post.date.format('yyyy, MMM dd')}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
        <span class="post-words">
          {post.readTime} minute(s) read
        </span>
      </div>
    </article>
    {/for}

    {#include partials/pejsam/pagination.html/}
    {/if}
  </div>
</main>

{#insert footer}
{#include partials/pejsam/footer /}
{/}